{{ partial "header.html" . }}

{{ if .Params.toc }}
	<h4>Content</h4>
	{{ .TableOfContents }}
{{end}}

{{ .Content }}

<footer class="footline">

	{{ if or (.Params.author) (.Params.authors)}}
		author(s):
		{{ range .Params.author }}
			<p style="padding-left: 1.5em;">
			<i class='fas fa-user'></i>
			{{ if .orcid}}
				<a href="https://orcid.org/{{ .orcid }}" target="_blank">{{ .name }}</a>
			{{ else }} {{ .name }}
			{{ end }}
			{{ if .corresponding_author}}
				(corresponding author)
			{{end}}
			<br>
			<!--i class='fas fa-user'></i> <a href="/contributors/">{{ . }}</a><br-->
			</p>
		{{ end }}
		{{ range .Params.authors }}
			<p style="padding-left: 1.5em;">
			<i class='fas fa-user'></i>
			{{ if .orcid}}
				<a href="https://orcid.org/{{ .orcid }}" target="_blank">{{ .name }}</a>
			{{ else }} {{ .name }}
			{{ end }}
			{{ if .corresponding_author}}
				(corresponding author)
			{{end}}
			<br>

			<!--i class='fas fa-user'></i> <a href="/contributors/">{{ . }}</a><br-->
			</p>
		{{ end }}
	{{ end }}



	<!--{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}} -->
</footer>

{{ partial "footer.html" . }}
